<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Evaluate News</title>
    </head>
    <body>
        <div class="nav">
            <div class="main">
                <div id="logo">
                    <p> NLP News Eval</p>
                </div>
            </div>
        </div>

        <div class="content">

            <header class="hero">
                <div class="container">
                    <div class="hero-text">
                        <h1>
                            Figure out the sentiment of what you read! 
                        </h1>
                        <div class="sub-text">
                            <p class="lead">It's fast and easy!</p>
                        </div>
                    </div>
                </div>
            </header>

            <section class="app-section">
                <div class="container">
                    <h2> Sentiment Analyzer</h2>
                    <p class="lead"> Let's start!</p>
                    
                    <div class="app-input">
                        <form class="form" onsubmit="return Client.handleSubmit(event)">
                            <input  id="news-id" class="news" name="input" type="text" placeholder="Paste a news article url">
                            <input  class="submit" type="submit" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                        </form>
                    </div>
                </div>  
                <div id="results-card-id" class="result-card hide"></div>
            </section>  

            <div class="footer">
                <div class="container">
                    <div class="footer-text">
                        <span> © NLP Evaluator </span>
                    </div>
                    <div class="social">
                    </div>
                </div>
            </div>
        </div>



    </body>
</html>