<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News</title>
    </head>
    <div class="nav">
        <div class="main">
            <div id="logo">
                <p> NLP News Eval</p>
            </div>
        </div>
    </div>

    <div class="content">

        <header class="hero">
            <div class="container">
                <div class="hero-text">
                    <h1>
                        Figure out the sentiment of what you read! 
                    </h1>
                    <div class="sub-text">
                        <p class="lead">It's fast and easy! No more bias.</p>
                    </div>
                </div>
            </div>
        </header>

        <section class="app-section">
            <div class="container">
                <h2> Sentiment Analyzer</h2>
                <p class="lead"> Let's start!</p>
                
                <div class="app-input">
                    <form>
                        <input id="news" name="input" type="text" placeholder="Place news article url">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>  
            <div class="result-card">
                <div class="container">

                    <p class="lead"> Your results</p>
                    <p> Results place holder</p>
                </div>
            </div>
        </section>  
        
        <div class="footer">
            <div class="container">
                <div class="footer-text"></div>
                    <span> © NLP Evaluator </span>
            </div>
            <div class="social">

            </div>
        </div>

    </div>
</html>