@import './variables.scss';

.nav {
    background-color: black;
    display: flex;
}

.main {
    height: 60px;
    min-height: 60px;   
    padding:0 2em, 0, 2em; 
    font-size: $font-small;
    color: white;
}

#logo {
    margin-left: 40px;
    align-self:center;
    display: flex;
    height: 100%;
    align-items: center;
    @media screen and (min-width: $break-large) {
        margin-left: 15em;
    }
}