@import './variables.scss';

.nav {
    background-color: black;
    display: flex;
}

.main {
    height: 60px;
    min-height: 60px;   
    padding:0 2em, 0, 2em; 
    font-size: $font-small;
    color: white;
}

#logo {
    margin-left: 2em;
    align-self:center;
    display: flex;
}