@import 'reset.scss', 'header.scss', 'container.scss', 'footer.scss', 'variables.scss', 'nav.scss', 'app-section.scss', 'form.scss';

html {
    font-family: Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;
    background-color: white;
}

.lead {
    padding: 2.5em;
    font-size: $font-medium;
}

.hide {
    display: none;
}